/*	1-Any live cell with fewer than two live neighbours dies, as if caused by underpopulation.
	2-Any live cell with two or three live neighbours lives on to the next generation.
	progress
	3-Any live cell with more than three live neighbours dies, as if by overpopulation.
	4-Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.
*/

conway rule is S23/3:
s-survival, 23=2 o 3 celulas vivas necesarias para q la celula del centro sobreviva
se podria escribir como s(2,3)
b-birth, el numero de celulas vivas necesarias para q una muerta nazca
